# EXPLORING REGULAR EXPRESSIONS

This notebook is partially inspired by <a href="resources/Speech and Language Processing (12-Jan-2025) - Daniel Jurafsky & James H. Martin.pdf"><i>"Speech-and-Language-Processing_Jurafsky-Martin_Jan-12-2025"</i></a> chapter on Regular Expressions.

String Methods + Regex Expressions are most useful here.

## INITIALZATION

In [139]:
# Required Modules

import re
import pandas as pd
import numpy as np
import regex
import pygrep
import flashtext
import spacy
import loguru
import pyspark
import kafka
import os
import gzip
import pandas as pd
import shutil
import kagglehub
import requests
import math
from urllib.parse import urljoin

pd.options.mode.copy_on_write=True

In [2]:
# File Paths

src_folder_path = "C://Users//mquay//Documents//GitHub//Personal//nlp-practice//src"
notebooks_path = "C://Users//mquay//Documents//GitHub//Personal//nlp-practice//src//notebooks"
scripts_path = "C://Users//mquay//Documents//GitHub//Personal//nlp-practice//src//scripts"
datasets_path = "C://Users//mquay//Documents//GitHub//Personal//nlp-practice//datasets"
csvs_path = "C://Users//mquay//Documents//GitHub//Personal//nlp-practice//datasets//csv"
jsons_path = "C://Users//mquay//Documents//GitHub//Personal//nlp-practice//datasets//json"
txt_path = "C://Users//mquay//Documents//GitHub//Personal//nlp-practice//datasets//txt"

In [3]:
# Important Functions/Variables

def int_extractor_lambda(inp):
    """Returns a single integer/sequence of integers, removing all non-integer characters from the given input.
    
    :param (Any) inp: A single/sequence of primitive data types.
    :return: Returns a single integer
    :rtype: int
    :return: Returns a sequence of integers/DataFrame Series of integers
    :rtype: List[int]
    :return: The element itself, if it is of type bool/None
    :rtype: inp(elem)
    """ 
        
    if isinstance(inp, str):
        return int("".join(re.findall(r"[0-9]+", inp)))
    
    elif isinstance(inp, list) or isinstance(inp, pd.Series):
        inp = [str(elem) for elem in inp] # To avoid 'TypeError: expected string or bytes-like object'
        new_li = []
        for ind, elem in enumerate(inp):
                if elem != 'nan':
                    # print(f"Before Regex attempt: {elem}")
                    new_str = int("".join(re.findall(r"[0-9]+", elem)))
                    # print(f"After Regex attempt: {new_str}")
                    new_li.append(new_str)
                else:
                    new_str = 0
                    new_li.append(new_str)
        return new_li
    
    elif isinstance(inp, float) and math.isnan(inp):
        return float('nan')
    
    else:
    
        return int(inp)
    
# def dtype_updater(col1, col2): [Construct function to update corresponding dtypes from subdataframes to original dataframes]

In [4]:
# Downloading dataset from Kaggle and loading it into notebook

## Getting the latest version
path = kagglehub.dataset_download("bilalyussef/google-books-dataset")

# Display file path for downloaded file
print("Path to dataset files:", path)

Path to dataset files: C:\Users\mquay\.cache\kagglehub\datasets\bilalyussef\google-books-dataset\versions\3

The downloads are to be moved to the <code>\csv</code> directory for ease of access.

In [5]:
# Accessing File~

raw_doc_master = pd.read_csv("..//..//datasets//csv//kaggle//bilalyussef//google_books_1299.csv", encoding='utf-8').drop(columns=["Unnamed: 0"]).rename(columns={"generes":'genres'})
"""Master Document File (raw)"""

raw_doc_master.columns

Index(['title', 'author', 'rating', 'voters', 'price', 'currency',
       'description', 'publisher', 'page_count', 'genres', 'ISBN', 'language',
       'published_date'],
      dtype='object')

In [6]:
raw_doc_p1 = raw_doc_master.loc[:, ['title',"author", "rating", "voters", "price"]]
"""Stores the first partitioned DataFrame of the document

:return: 'title', 'author', 'rating', 'voters', 'price'
:rtype: Columns
"""

raw_doc_p1[:3]

,title,author,rating,voters,price
0,Attack on Titan: Volume 13,Hajime Isayama,4.6,428,43.28
1,Antiques Roadkill: A Trash 'n' Treasures Mystery,Barbara Allan,3.3,23,26.15
2,The Art of Super Mario Odyssey,Nintendo,3.9,9,133.85

In [160]:
raw_doc_p2 = raw_doc_master.loc[:, ["currency", "description", "publisher", "page_count"]]
"""Stores the second partitioned DataFrame of the document

:return: 'currency', 'description', 'publisher', 'page_count'
:rtype: Columns
"""

raw_doc_p2[:3]

,currency,description,publisher,page_count
0,SAR,NO SAFE PLACE LEFT At great cost to the Garris...,Kodansha Comics,192
1,SAR,Determined to make a new start in her quaint h...,Kensington Publishing Corp.,288
2,SAR,Take a globetrotting journey all over the worl...,Dark Horse Comics,368

In [161]:
raw_doc_p3 = raw_doc_master.loc[:, ["genres", 'ISBN', 'language', 'published_date']]
"""Stores the third partitioned DataFrame of the document

:return: 'genres', 'ISBN', 'language', 'published_date'
:rtype: Columns
"""

raw_doc_p3[:3]

,genres,ISBN,language,published_date
0,none,9781612626864,English,"Jul 31, 2014"
1,"Fiction , Mystery &amp, Detective , Cozy , Gen...",9780758272799,English,"Jul 1, 2007"
2,"Games &amp, Activities , Video &amp, Electronic",9781506713816,English,"Nov 5, 2019"

In [9]:
joint_partitioned_raw_doc = [raw_doc_p1, raw_doc_p2, raw_doc_p3]

"""Stores partitioned DataFrames from master document

:return: 3 partitioned files from the main document
:rtype: List[DataFrame]
"""

'Stores partitioned DataFrames from master document\n\n:return: 3 partitioned files from the main document\n:rtype: List[DataFrame]\n'

## PRE-PROCESSING

### Exploration

In [10]:
# How many books exist in this file?
len(raw_doc_master)

1299

In [11]:
# File Description

raw_doc_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1299 entries, 0 to 1298
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           1299 non-null   object
 1   author          1299 non-null   object
 2   rating          1224 non-null   float64
 3   voters          1224 non-null   object
 4   price           1299 non-null   float64
 5   currency        1299 non-null   object
 6   description     1296 non-null   object
 7   publisher       1299 non-null   object
 8   page_count      1299 non-null   int64
 9   genres          1299 non-null   object
 10  ISBN            1299 non-null   object
 11  language        1299 non-null   object
 12  published_date  1299 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 132.1+ KB

#### raw_doc_p1

In [12]:
raw_doc_p1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1299 entries, 0 to 1298
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   1299 non-null   object
 1   author  1299 non-null   object
 2   rating  1224 non-null   float64
 3   voters  1224 non-null   object
 4   price   1299 non-null   float64
dtypes: float64(2), object(3)
memory usage: 50.9+ KB

In [13]:
raw_doc_p1[:3]

,title,author,rating,voters,price
0,Attack on Titan: Volume 13,Hajime Isayama,4.6,428,43.28
1,Antiques Roadkill: A Trash 'n' Treasures Mystery,Barbara Allan,3.3,23,26.15
2,The Art of Super Mario Odyssey,Nintendo,3.9,9,133.85

In [14]:
# Extracting only integer characters for each instantiation
raw_doc_p1.loc[:,'voters'] = int_extractor_lambda(raw_doc_p1['voters'])

# Converting column to int64
raw_doc_p1['voters'] = raw_doc_p1['voters'].astype("int64")
raw_doc_p1['voters'].dtype

dtype('int64')

In [15]:
raw_doc_p1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1299 entries, 0 to 1298
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   1299 non-null   object
 1   author  1299 non-null   object
 2   rating  1224 non-null   float64
 3   voters  1299 non-null   int64
 4   price   1299 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 50.9+ KB

In [16]:
raw_doc_p1[:3]

,title,author,rating,voters,price
0,Attack on Titan: Volume 13,Hajime Isayama,4.6,428,43.28
1,Antiques Roadkill: A Trash 'n' Treasures Mystery,Barbara Allan,3.3,23,26.15
2,The Art of Super Mario Odyssey,Nintendo,3.9,9,133.85

#### raw_doc_p2

In [76]:
raw_doc_p2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1299 entries, 0 to 1298
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   currency     1299 non-null   object
 1   description  1296 non-null   object
 2   publisher    1299 non-null   object
 3   page_count   1299 non-null   int64
dtypes: int64(1), object(3)
memory usage: 40.7+ KB

In [ ]:
# Preview

raw_doc_p2[:3]

,currency,description,publisher,page_count
0,SAR,NO SAFE PLACE LEFT At great cost to the Garris...,Kodansha Comics,192
1,SAR,Determined to make a new start in her quaint h...,Kensington Publishing Corp.,288
2,SAR,Take a globetrotting journey all over the worl...,Dark Horse Comics,368

##### Inspection

In [19]:
# Inspecting 'page_count' feature

raw_doc_p2['page_count'].unique()

array([          192,           288,           368,           320,
                 544,           864,           400,           226,
                 304,           112,           208,           250,
                  96,            40,           704,            30,
                  32,           144,           358,           245,
                 416,           336,           168,           176,
                 357,           448,           384,          1424,
                 656,           240,           146,           256,
                 476,           272,           592,           672,
                 224,          4544,           720,           576,
                 148,           350,           216,           352,
                 300,           464,           408,           136,
                 500,           164,            15,            52,
                 172,           816,           128,           688,
                  31,           254,           130,           944,
                 640,           355,           624,           200,
                  18,           800,          1168,          1400,
                  24,            60,           771,            17,
                 832,           160,          1040,           194,
                   7,            80,           360,          1712,
       9781302013929,           147,          1216,            28,
                 126,            49,           363,           547,
                 404,          2192,           152,            23,
                 180,            14,            36,            25,
                  34,          1728,            26,            56,
                 228,           667,            33])

This shows what seems to be an ISBN number stored in this column.

Corroborating with the <a href='https://www.kaggle.com/datasets/bilalyussef/google-books-dataset'>file source hosted by Kaggle</a>, this does seem to be the case (check graph displayed within the first row of the 'page_count' column).

The total page count is supposed to be 144, confirmed with <a href='https://www.amazon.co.uk/Deadpool-Team-Up-Fred-Van-Lente/dp/0785145281'>a quick Google search of the entry</a>.

Since the <code>ISBN</code> column is stored within <code>raw_doc_p3</code>, we will correct 'page_count' via modifying <code>raw_doc_p2</code> and 'ISBN' via modifying <code>raw_doc_p3</code>.

In [215]:
# Isolating and retrieving pages with ISBN no. '9781302013929' to correct 'page_count' feature

raw_doc_p2.loc[raw_doc_p2['page_count']==9781302013929]

,currency,description,publisher,page_count
288,SAR,"Stop rubbing your eyes, fanboy, they don't dec...",Marvel Entertainment,9781302013929
1241,SAR,"Stop rubbing your eyes, fanboy, they don't dec...",Marvel Entertainment,9781302013929

In [216]:
# Isolating and retrieving pages with ISBN no. '9781302013929' to correct 'ISBN' feature

raw_doc_p3.loc[raw_doc_p2['page_count']==9781302013929]

,genres,ISBN,language,published_date
288,"Comics & Graphic Novels , Superheroes",Original pages,English,186
1241,"Comics & Graphic Novels , Superheroes",Original pages,English,186

In [ ]:
# Fixing 'ISBN' numbers

raw_doc_p3.loc[raw_doc_p2['page_count'] == 9781302013929, 'ISBN'] = 9781302013929

In [225]:
# Fixing 'page_count' numbers

raw_doc_p2.loc[raw_doc_p2['page_count'] == 9781302013929, 'page_count'] = 144

In [ ]:
# Checking if 'page_count' has been modified appropriately

raw_doc_p2.iloc[288]

currency                                                     SAR
description    Stop rubbing your eyes, fanboy, they don't dec...
publisher                                   Marvel Entertainment
page_count                                                   144
Name: 288, dtype: object

In [ ]:
# Checking if 'ISBN' has been modified appropriately

raw_doc_p3.iloc[1241]

genres            Comics & Graphic Novels , Superheroes
ISBN                                      9781302013929
language                                        English
published_date                                      186
Name: 1241, dtype: object

In [233]:
# Re-inspecting 'page_count' feature

raw_doc_p2['page_count'].unique()

array([ 192,  288,  368,  320,  544,  864,  400,  226,  304,  112,  208,
        250,   96,   40,  704,   30,   32,  144,  358,  245,  416,  336,
        168,  176,  357,  448,  384, 1424,  656,  240,  146,  256,  476,
        272,  592,  672,  224, 4544,  720,  576,  148,  350,  216,  352,
        300,  464,  408,  136,  500,  164,   15,   52,  172,  816,  128,
        688,   31,  254,  130,  944,  640,  355,  624,  200,   18,  800,
       1168, 1400,   24,   60,  771,   17,  832,  160, 1040,  194,    7,
         80,  360, 1712,  147, 1216,   28,  126,   49,  363,  547,  404,
       2192,  152,   23,  180,   14,   36,   25,   34, 1728,   26,   56,
        228,  667,   33])

In [ ]:
# Inspecting the 'ISBN' feature

raw_doc_p3['ISBN'].unique()

array(['9781612626864', '9780758272799', '9781506713816', '9781617734076',
       '9780007287758', '9780007369218', '9781789090154', '9781250166609',
       '9780062651242', '9781529018592', '9781473211551', '9780007422586',
       '9781632917072', '9781302368807', '9780007452170', '9781429960748',
       'Original pages', '9781646590797', '9781529404937',
       '9780785180197', '9781838880514', '9780330513081', '9780007423309',
       '9780061899874', '9781506714820', '9781840469097', '9780345539854',
       '9781529361353', '9780008150907', '9781409005216', '9781838880415',
       '9781101636459', '9780451491848', '9780062359803', '9788026804758',
       '9780345535658', '9781101042892', '9780307887450', '9781632913821',
       '9781451621716', '9781601638618', '9781496708489', '9781401242299',
       '9781524763404', '9781789460148', '9781476759685', '9780062336583',
       '9781448170609', '9780785170242', '9781101615478', '9781473684454',
       '9781847651402', '9781416595847', '9780814434222', '9781440631849',
       '9781429960373', '9780061793660', '9780007482931', '9780553897845',
       '9781473526853', '9781476797502', '9780008244880', '9780062119209',
       '9780749460211', '9781472249425', '9781632913296', '9781401235888',
       '9781405941020', '9781449474836', '9781939996343', '9780307463760',
       '9781401287184', '9780486114354', '9780786956890', '9781250237248',
       '9781927036600', '9780307574961', '9781473663527', '9780399587993',
       '9781632918031', '9780007319923', '9781101128459', '9781448176007',
       '9780062218360', '9781943481316', '9780356504322', '9780007374038',
       '9781302401580', '9780575087057', '9780399564505', '9781473202993',
       '9781632915740', '9781626569430', '9781617738760', '9781524705398',
       '9781640290112', '9781617730436', '9781605099408', '9781501124051',
       '9781401244378', '9781526012456', '9781848940819', '9780814434208',
       '9781617731259', '9781401235741', '9780758265111', '9781409134336',
       '9781534427358', '9780345459541', '9780804190121', '9781429960571',
       '9780758277695', '9780345542847', 'Flowing text', '9781401236632',
       '9781595555045', '9780385544191', '9781405516976', '9780356504650',
       '9781426892103', '9780393249125', '9780547601205', '9780330523332',
       '9780330524759', '9781473211582', '9781683356950', '9781640294127',
       '9783743895003', '9780425285954', '9780785179009', '9781501141232',
       '9781476789477', '9780374722104', '9781101904237', '9780785182962',
       '9780748129942', '9781250314161', '9780735213524', '9780061792809',
       '9781471167690', '9780743274333', '9781429959810',
       'Flowing text, Google-generated PDF', '9781418530297',
       '9781401945534', '9781526012487', '9780525541820', '9780804179607',
       '9780679603856', '9780007463497', '9781302494605', '9780345443076',
       '9780399593550', '9780553905656', '9781474602198', '9780814432990',
       '9781401236410', '9780007422135', '9788074844553', '9781940270371',
       '9781526610232', '9781416554998', '9781429960199', '9780814436288',
       '9780814437049', '9780698161863', '9781497684256', '9780007593101',
       '9781429989817', '9781471172816', 9781302013929, '9781401266066',
       '9781302507169', '9781101207369', '9781786814029', '9780007322596',
       '9781607066309', '9780996435420', '9780141983776', '9783736805101',
       '9781401239565', '9781401270506', '9780814416259', '9781627931991',
       '9781440511929', '9781779501837', '9781473649491', '9781471407574',
       '9781640297579', '9783642286162', '9780071802673', '9780698155558',
       '9781260019940', '9780759515062', '9781302013622', '9780385354295',
       '9781302480042', '9781101872932', '9781302377366', '9781302505295',
       '9780525505372', '9780571356515', '9780748112586', '9781401252090',
       '9780307796226', '9788026850519', '9780345535863', '9781473616141',
       '9781401253523', '9781302393021', '9781094310442', '9781619882171',
       '9781302368173', '9781401244330', '9780071614146', '9781632914965',
       '9781405914895', '9780698198586', '9780765396143', '9781302486112',
       '9781640291102', '9780571321599', '9780385347419', '9780761181347',
       '9781401267452', '9781418535285', '9781627931502', '9781743341490'],
      dtype=object)

We see within the <strong>first few records</strong>, the string <code>"Original pages"</code> still exists.

We will clean this further within its own subset below - let us finish on cleaning the other features remaining in subset <code>raw_doc_p2</code>

In [ ]:
# Inspecting 'currency' feature

raw_doc_p2['currency'].unique()

array(['SAR', 'Free'], dtype=object)

In [237]:
# Further inspecting 'Free' records

raw_doc_p2[raw_doc_p2['currency']=="Free"]

,currency,description,publisher,page_count
52,Free,Edgar Allan Poe’s celebrated narrative poem no...,Simon and Schuster,32
72,Free,"From his rooms in Baker Street, Sherlock Holme...",Simon and Schuster,320
182,Free,“A masterpiece of thriller and mystery! The au...,Blake Pierce,250
184,Free,This cookbook contains 15 delicious slow cooke...,BookRix,18
191,Free,War and Peace is considered one of the world’s...,Simon and Schuster,1400
193,Free,"From his rooms in Baker Street, Sherlock Holme...",Simon and Schuster,320
216,Free,This cookbook contains 15 delicious slow cooke...,BookRix,18
232,Free,“A masterpiece of thriller and mystery! The au...,Blake Pierce,250
247,Free,War and Peace is considered one of the world’s...,Simon and Schuster,1400
302,Free,"From his rooms in Baker Street, Sherlock Holme...",Simon and Schuster,320
440,Free,"From his rooms in Baker Street, Sherlock Holme...",Simon and Schuster,320
536,Free,This cookbook contains 15 delicious slow cooke...,BookRix,18
596,Free,Edgar Allan Poe’s celebrated narrative poem no...,Simon and Schuster,32
790,Free,NaN,Disha Publications,23
867,Free,War and Peace is considered one of the world’s...,Simon and Schuster,1400
894,Free,"From his rooms in Baker Street, Sherlock Holme...",Simon and Schuster,320
900,Free,“A masterpiece of thriller and mystery! The au...,Blake Pierce,250
904,Free,“A masterpiece of thriller and mystery! The au...,Blake Pierce,250
912,Free,NaN,Disha Publications,25
968,Free,“A masterpiece of thriller and mystery! The au...,Blake Pierce,250
1020,Free,Edgar Allan Poe’s celebrated narrative poem no...,Simon and Schuster,32
1026,Free,This cookbook contains 15 delicious slow cooke...,BookRix,18
1036,Free,War and Peace is considered one of the world’s...,Simon and Schuster,1400
1055,Free,War and Peace is considered one of the world’s...,Simon and Schuster,1400
1102,Free,"From his rooms in Baker Street, Sherlock Holme...",Simon and Schuster,320
1124,Free,NaN,Disha Publications,33
1126,Free,Edgar Allan Poe’s celebrated narrative poem no...,Simon and Schuster,32
1147,Free,Edgar Allan Poe’s celebrated narrative poem no...,Simon and Schuster,32
1183,Free,Edgar Allan Poe’s celebrated narrative poem no...,Simon and Schuster,32
1271,Free,“A masterpiece of thriller and mystery! The au...,Blake Pierce,250

This feature seems good to go - moving on to the next one.

In [ ]:
# Checking if there are duplicates

raw_doc_p2['description'].duplicated().any()

np.True_

In [247]:
# Checking for total count of duplicated books

raw_doc_p2['description'].duplicated().sum()

np.int64(1054)

I am trying to understand better <strong>why there are duplicate descriptions</strong> - my guess is some entries are excerpts from a volume/collection of books, but would need to verify this.

To do so we will:

<ol>
<li> Sample from a collection of duplicates
<li> Compare this sample to all instances of duplicate instance within the current subset
<li> If none exist to satisfy differentiating between <strong>all instances within the same subset</strong>, find differences between all instances of 'description' duplicate feature between all subsets.
<li> If none, pick first entry of duplicate (there is no ordering to the dataset therefore discretion is advised for choice of duplicate selection).
</ol>

In [269]:
# Grabbing all duplicates

duplicate_descriptions = raw_doc_p2[raw_doc_p2['description'].duplicated().sort_values(ascending=True)]
duplicate_descriptions

C:\Users\mquay\AppData\Local\Temp\ipykernel_21884\2857861438.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  duplicate_descriptions = raw_doc_p2[raw_doc_p2['description'].duplicated().sort_values(ascending=True)]

,currency,description,publisher,page_count
19,SAR,From #1 New York Times bestselling author Bran...,Tor Books,226
23,SAR,Agatha Christie’s first ever murder mystery. W...,HarperCollins UK,208
35,SAR,‘Sometimes we can’t see what’s right in front ...,Bookouture,357
44,SAR,The last few decades have seen an explosion in...,Icon Books,176
49,SAR,‘This was SOME read. Now I know what it means ...,Bookouture,358
...,...,...,...,...
1294,SAR,A short gift book of festive hospital diaries ...,Pan Macmillan,112
1295,SAR,'Astonishing ... an amazing book ... absolutel...,Penguin UK,368
1296,SAR,The modern marketplace is increasingly unpredi...,Kogan Page Publishers,176
1297,SAR,"Collects Web of Spider-Man #31-32, Amazing Spi...",Marvel Entertainment,168
1298,SAR,Private investigator Kinsey Millhone finds sho...,Penguin,448

In [273]:
# Sampling from distribution of duplicate descriptions

sample_duplicate_description = raw_doc_p2.loc[19, 'description']
sample_duplicate_description

"From #1 New York Times bestselling author Brandon Sanderson, a special gift edition of Edgedancer, a short novel of the Stormlight Archive (previously published in Arcanum Unbounded).Three years ago, Lift asked a goddess to stop her from growing older--a wish she believed was granted. Now, in Edgedancer, the barely teenage nascent Knight Radiant finds that time stands still for no one. Although the young Azish emperor granted her safe haven from an executioner she knows only as Darkness, court life is suffocating the free-spirited Lift, who can't help heading to Yeddaw when she hears the relentless Darkness is there hunting people like her with budding powers. The downtrodden in Yeddaw have no champion, and Lift knows she must seize this awesome responsibility.\nOther Tor books by Brandon Sanderson The Cosmere\n \n The Stormlight Archive\n The Way of Kings\n Words of Radiance\n Edgedancer (Novella)\n Oathbringer\n \n The Mistborn trilogy\n Mistborn: The Final Empire\n The Well of Ascension\n The Hero of Ages\n \n Mistborn: The Wax and Wayne series\n Alloy of Law\n Shadows of Self\n Bands of Mourning Collection\n Arcanum Unbounded Other Cosmere novels\n Elantris\n Warbreaker The Alcatraz vs. the Evil Librarians series\n Alcatraz vs. the Evil Librarians\n The Scrivener's Bones\n The Knights of Crystallia\n The Shattered Lens\n The Dark Talent The Rithmatist series\n The Rithmatist Other books by Brandon Sanderson\n\n The Reckoners\n Steelheart\n Firefight\n CalamityAt the Publisher's request, this title is being sold without Digital Rights Management Software (DRM) applied."

In [274]:
# Checking against other duplicates

sample_subset_duplicate_description = duplicate_descriptions[duplicate_descriptions['description'] == sample_duplicate_description]
sample_subset_duplicate_description

,currency,description,publisher,page_count
19,SAR,From #1 New York Times bestselling author Bran...,Tor Books,226
478,SAR,From #1 New York Times bestselling author Bran...,Tor Books,226
748,SAR,From #1 New York Times bestselling author Bran...,Tor Books,226
897,SAR,From #1 New York Times bestselling author Bran...,Tor Books,226
1090,SAR,From #1 New York Times bestselling author Bran...,Tor Books,226

In [279]:
# Extracting indexes to compare corresponding rows in the other subsets, to differentiate records from each other

sample_subset_duplicate_description_indexes = list(sample_subset_duplicate_description.index)
sample_subset_duplicate_description_indexes

Index([19, 478, 748, 897, 1090], dtype='int64')

[19, 478, 748, 897, 1090]

In [280]:
# Comparing with susbet 1

raw_doc_p1.iloc[sample_subset_duplicate_description_indexes]

,title,author,rating,voters,price
19,Edgedancer: From the Stormlight Archive,Brandon Sanderson,4.8,221,36.79
478,Edgedancer: From the Stormlight Archive,Brandon Sanderson,4.8,221,36.79
748,Edgedancer: From the Stormlight Archive,Brandon Sanderson,4.8,221,36.79
897,Edgedancer: From the Stormlight Archive,Brandon Sanderson,4.8,221,36.79
1090,Edgedancer: From the Stormlight Archive,Brandon Sanderson,4.8,221,36.79

In [281]:
# Comparing with susbet 3

raw_doc_p3.iloc[sample_subset_duplicate_description_indexes]

,genres,ISBN,language,published_date
19,"Fiction , Fantasy , Military",9781250166609,English,"Oct 17, 2017"
478,none,9781250166609,English,"Oct 17, 2017"
748,none,9781250166609,English,"Oct 17, 2017"
897,none,9781250166609,English,"Oct 17, 2017"
1090,"Fiction , Fantasy , Action &amp, Adventure",9781250166609,English,"Oct 17, 2017"

In [ ]:
raw_doc_p2[raw_doc_p2['description'].duplicated().sort_values(ascending=True)]

In [29]:
raw_doc_p2[:3]

,currency,description,publisher,page_count
0,SAR,NO SAFE PLACE LEFT At great cost to the Garris...,Kodansha Comics,192
1,SAR,Determined to make a new start in her quaint h...,Kensington Publishing Corp.,288
2,SAR,Take a globetrotting journey all over the worl...,Dark Horse Comics,368

#### raw_doc_p3

In [30]:
raw_doc_p3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1299 entries, 0 to 1298
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   genres          1299 non-null   object
 1   ISBN            1299 non-null   object
 2   language        1299 non-null   object
 3   published_date  1299 non-null   object
dtypes: object(4)
memory usage: 40.7+ KB

In [31]:
raw_doc_p3[:3]

,genres,ISBN,language,published_date
0,none,9781612626864,English,"Jul 31, 2014"
1,"Fiction , Mystery &amp, Detective , Cozy , Gen...",9780758272799,English,"Jul 1, 2007"
2,"Games &amp, Activities , Video &amp, Electronic",9781506713816,English,"Nov 5, 2019"

In [ ]:
# Re-visiting the 'ISBN' feature

raw_doc_p3['ISBN'].unique()

For cleaning the <code>'ISBN'</code> feature within <code>raw_doc_p3</code>, we must ensure all records:

<ol>
<li> Share the same data type
<li> Have similar length/similar structuring i.e. follows the pattern of "978..."
</ol>

In [32]:
raw_doc_p3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1299 entries, 0 to 1298
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   genres          1299 non-null   object
 1   ISBN            1299 non-null   object
 2   language        1299 non-null   object
 3   published_date  1299 non-null   object
dtypes: object(4)
memory usage: 40.7+ KB

In [33]:
raw_doc_p3[:3]

,genres,ISBN,language,published_date
0,none,9781612626864,English,"Jul 31, 2014"
1,"Fiction , Mystery &amp, Detective , Cozy , Gen...",9780758272799,English,"Jul 1, 2007"
2,"Games &amp, Activities , Video &amp, Electronic",9781506713816,English,"Nov 5, 2019"

In [34]:
raw_doc_p1['voters'].unique()

array([  428,    23,     9,    10,   577,   832,    94,   221,   135,
          47,   383,    57,    45, 38526,     4,   427,     3,    13,
           0,   281,   200,     7,   100,   408,   288,    15,   886,
        1633,  1382,   206,     1,    72,     6,   861,    42, 17719,
         522,  6615,    64, 32771,  1251,  1130,  5177,    34,   142,
         580,   352,   751, 10650,     2,  3316,   124,   255,   591,
        1756,    87,   223,  3650,   107,    25,    56,   127,    14,
         453,  3695,   526,   532,   399,   451,  4683,    18,    95,
          46,    90,    84,    78,   818,   247,    30,    80,   157,
          85,    79,   119,   407,   216,   588,   997,    60,   499,
         624,   120,   166,   483,   168,   661,  4260,  1354,    38,
        1408,  1701,  4532,   250,  1780,    33,    11,  4750,     8,
          21,  1799,   510,    24,  9403,   567,   141,   179,  2700,
          22,   363,   715,    97,   103,  1105,  4533,    66,    52,
         634,    53,    61,   222,  1345,     5,    35,   373,   445,
         308,   272,    74,   185,    26,    12,   485,   327,   102,
        1285,    20,   405,    69,   283,    27,  1365,   278,   244,
          16,    62,    92,    36,    41,    19,   186,   391,   110,
          49])

In [35]:
# Sampling 10 files for exploration

raw_doc_master

,title,author,rating,voters,price,currency,description,publisher,page_count,genres,ISBN,language,published_date
0,Attack on Titan: Volume 13,Hajime Isayama,4.6,428,43.28,SAR,NO SAFE PLACE LEFT At great cost to the Garris...,Kodansha Comics,192,none,9781612626864,English,"Jul 31, 2014"
1,Antiques Roadkill: A Trash 'n' Treasures Mystery,Barbara Allan,3.3,23,26.15,SAR,Determined to make a new start in her quaint h...,Kensington Publishing Corp.,288,"Fiction , Mystery &amp, Detective , Cozy , Gen...",9780758272799,English,"Jul 1, 2007"
2,The Art of Super Mario Odyssey,Nintendo,3.9,9,133.85,SAR,Take a globetrotting journey all over the worl...,Dark Horse Comics,368,"Games &amp, Activities , Video &amp, Electronic",9781506713816,English,"Nov 5, 2019"
3,Getting Away Is Deadly: An Ellie Avery Mystery,Sara Rosett,4.0,10,26.15,SAR,"With swollen feet and swelling belly, pregnant...",Kensington Publishing Corp.,320,none,9781617734076,English,"Mar 1, 2009"
4,"The Painted Man (The Demon Cycle, Book 1)",Peter V. Brett,4.5,577,28.54,SAR,The stunning debut fantasy novel from author P...,HarperCollins UK,544,"Fiction , Fantasy , Dark Fantasy",9780007287758,English,"Jan 8, 2009"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1294,Twas The Nightshift Before Christmas: Festive ...,Adam Kay,4.7,47,41.82,SAR,A short gift book of festive hospital diaries ...,Pan Macmillan,112,"Medical , Health Care Delivery",9781529018592,English,"Oct 17, 2019"
1295,Why We Sleep: The New Science of Sleep and Dreams,Matthew Walker,4.8,52,46.85,SAR,'Astonishing ... an amazing book ... absolutel...,Penguin UK,368,"Psychology , Cognitive Psychology &amp, Cognition",9780141983776,English,"Sep 28, 2017"
1296,How to Understand Business Finance: Edition 2,Bob Cinnamon,3.5,4,46.85,SAR,The modern marketplace is increasingly unpredi...,Kogan Page Publishers,176,none,9780749460211,English,"Apr 3, 2010"
1297,Spider-Man: Kraven's Last Hunt,J. M. DeMatteis,4.6,74,43.28,SAR,"Collects Web of Spider-Man #31-32, Amazing Spi...",Marvel Entertainment,168,none,9781302377366,English,"Dec 10, 2014"
1298,W is for Wasted: A Kinsey Millhone Novel,Sue Grafton,4.3,206,39.34,SAR,Private investigator Kinsey Millhone finds sho...,Penguin,448,"Fiction , Thrillers , Suspense",9781101636459,English,"Sep 10, 2013"

In [36]:
text_exploration = sample_robotstxt_urls[0]
sample_robotstxt_urls[0]

NameError: name 'sample_robotstxt_urls' is not defined

In [ ]:
re.findall(r"(seg)+", text_exploration)

['seg']

In [ ]:
re.search(r"\d+", text_exploration).group()

'2025'

In [ ]:
# re.search()

first_num_occ = re.search(r"\d+", text_exploration)
print(first_num_occ.group())

2025

## `re.search()` - Find the first match

## `re.findall()` - Find all matches

## `re.match()` - Does pattern match at start of string?

## `re.fullmatch()` - Does entire string match pattern?

## `re.sub()` - Replaces occurences of a pattern with another string

## `re.split()` - Splits a string based on regex pattern

## `re.compile()` - Precompiles a regex for repeated use

# EXAMPLES

- Extract all digits from "Order 123, Invoice 456, ID 7890".
- Find all lowercase letters in "Hello WORLD Python!".
- Extract all capital letters from "Regex is FUN and POWERFUL".
- Find all words in "Hello, World! 123" (Ignore punctuation).
- Extract words that contain only alphabets from "cat123 dog45 apple banana".
<br>
<br>
- Quantifiers (*, +, ?, {})
- Find all words that start with "a" in "apple banana apricot orange".
- Extract sequences of 2 or more digits from "abc123def4567gh89".
- Find all words with at least 5 letters in "hello world python java".
- Extract all words with exactly 4 letters from "this that when where".
- Match any word that contains "th" in "there, think, throw, math, father".
<br>
<br>
- Character Classes (\d, \w, \s)
- Extract all numbers from "I have 2 cats and 3 dogs".
- Find all words containing numbers in "user1 admin99 guest3".
- Extract all words starting with a capital letter from "Alice Bob charlie Daniel".
- Extract all special characters from "Hello@World! Python#Regex" (Ignore letters and numbers).
- Find all sequences of spaces in "This has multiple spaces".
<br>
<br>
- Anchors (^, $, \b)
- Match words that start with "P" in "Python PHP JavaScript"
- Find all sentences ending with a period in "Hello world. This is regex! Python is fun."
- Extract hashtags from "#Python #DataScience #Regex"
- Extract valid email addresses from "test@example.com, hello@site.org, user@invalid".
- Extract valid phone numbers from "Call 123-456-7890 or (123) 456-7890".

In [ ]:
# - Extract all digits from "Order 123, Invoice 456, ID 7890"

text1 = "Order 123, Invoice 456, ID 7890"

re.findall(r"\d+", text1)

['123', '456', '7890']

In [ ]:
# Find all lowercase letters in "Hello WORLD Python!"

text2 = "Hello WORLD Python!"
re.findall(r"[a-z]+", text2)

['ello', 'ython']

In [ ]:
# Extract all capital letters from "Regex is FUN and POWERFUL".

text3 = "Regex is FUN and POWERFUL"
re.findall(r"[A-Z]+", text3)

['R', 'FUN', 'POWERFUL']

In [ ]:
# Find all words in "Hello, World! 123" (Ignore punctuation).

text4 = "Hello, World! 123"
re.findall(r"[A-Za-z]+", text4)

['Hello', 'World']

In [ ]:
# Extract words that contain only alphabets from "cat123 dog45 apple banana".

text5 = "cat123 dog45 apple banana"
re.findall(r"\b[a-zA-Z]+\b", text5)

['apple', 'banana']

In [ ]:
# Find all words that start with "a" in "apple banana apricot orange"

text6 = "apple banana apricot orange"
re.findall(r"\ba\w*", text6)

['apple', 'apricot']

In [ ]:
re.findall(r"", text4)

['H']

In [ ]:
re.findall(r"/[a-z]", "cat123 dog45 apple banana")

[]

In [ ]:
a = ""

In [ ]:
import re 
b = re.split(r"\x01", a)
b

['20250219-09:49:39.874935000 [out] : 8=FIX.4.4',
 '9=291',
 '35=8',
 '34=48945',
 '49=CENTROID_SOL',
 '52=20250219-09:49:39.874882',
 '56=TD_MT5_FIX',
 '1=BM_MT5_B_2',
 '6=0.0000000000',
 '11=e-1739958579793858600',
 '14=0.00',
 '17=9756177',
 '31=0.0000000000',
 '32=0.00',
 '37=9756177',
 '38=1000.00',
 '39=0',
 '40=1',
 '54=1',
 '55=ADAUSD.x',
 '58=New Request',
 '59=3',
 '60=20250219-09:49:39',
 '150=0',
 '151=1000.00',
 '9999=CenSystem',
 '10=198',
 'a',
 'a']

In [ ]:
for i in range(len(b)):
    if not "38=" in b[i]:
        pass
    else: 
        print(b[i])
    if not "39=" in b[i]:
        pass
    else: 
        print(b[i])
    if not "55=" in b[i]:
        pass
    else: 
        print(b[i])

38=1000.00
39=0
55=ADAUSD.x